
/*POUR ANIMATION NOM
https://css-tricks.com/snippets/css/typewriter-effect/
*/

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes barreCligno {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

@keyframes upDown {
    30%{
        transform: translateY(20px);
    }

    80%{
        transform: translateY(0);
    }

}

.contenuIndex{
    padding-top: 15vh;
    font-family: 'Montserrat', sans-serif;
}

.pres1{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/index/devLong.jpg");
    width: 100%;
    background-position: center;
    filter: grayscale(100%);
    color: #ffe7d4;
    position: relative;
}
.textEcrit{
    width: max-content;
    height: max-content;
}

#h1Start{

    font-size: 3.5em;
    width: max-content;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #3e726a; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.3em; /* Adjust as needed */

    animation:
            typing 2.5s steps(40, end) 0s ,
            barreCligno .5s step-end  0s 5 forwards;
}

#h1Middle{
    width: 0;
    font-size: 2.5em;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.2em; /* Adjust as needed */

    animation:
            typing 2.5s steps(40, end) 2.5s forwards,
            barreCligno .5s step-end  2.5s 5 forwards;
}

#h1End{
    width: 0;
    font-size: 2.5em;
    text-align: center;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto 35vh; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.2em; /* Adjust as needed */

    animation:
            typing 2.5s steps(40, end) 5s forwards,
            barreCligno .5s step-end  5s 5 forwards;
}

.pres1 i{
    position: absolute;
    font-size: 3.5em;
    width: 100%;
    cursor: pointer;
    text-align: center;
    animation: upDown 5s infinite ease-in-out;
    bottom: 35px;
}


.quiSuisJe{
    background-color: #3e726a;
    color: #ffe7d4;
    text-align: center;
}

.quiSuisJe h1{
    padding: 40px;
}

.infosPerso{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: max-content;
}

.infosPerso img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    justify-self: center;
    align-self: center;
    object-fit: cover;
}

.infosPerso p{
    text-align: justify;
    width: 80%;
    line-height: 20px;
    text-indent: 1cm;
}

@media screen and (max-width: 800px){

    .infosPerso{
        grid-template-rows: 250px max-content;
        grid-template-columns: 100%;
    }

    .infosPerso p{
        margin: 50px auto;
    }

    .contenuIndex{
        padding-top: 0;
    }
}

@media screen and (max-width: 500px){
    #h1Start{
        font-size: 2.5em;
    }

    #h1Middle, #h1End{
        font-size: 1.5em;
    }
}