.contenuProjet{
    padding-top: 15vh;
    color: #ffe7d4;
    font-family: "Montserrat", sans-serif;
    min-height: 84vh;
}

.contenuProjet h1{
    text-align: center;
}

.carroussel{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 75vh;
    margin: 30px auto auto;
}

.slick-track{
    height: 100%;
}

article{
    width: 90vw;
    color: black;
    border-radius: 30px;
    height: 100%;
    background-size: cover;
    background-position: top;
    opacity: 0.85;
}

.contenuArticle{
    opacity: 1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    /*backdrop-filter: blur(1px);*/
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenuArticle > *{
    /*display: none;*/
    transition: all 0.5s;
    opacity: 0;
}

.contenuArticle:hover{
    backdrop-filter: blur(8px);
}

.contenuArticle:hover > *{
    /*display: block;*/
    opacity: 1;
}

.contenuArticle h2{
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 25vh;
    scale: 1.4;
}

.contenuArticle a{
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
}

.contenuArticle a:hover{
    scale: 1.2;
}

#Carottos{
    background-image: url("../images/projets/Carottos/index.PNG");
}

#Carottos h2, #Carottos a{
    background-color: #5d5d5d;
    color: #f4900c;
    border: 3px solid #f4900c;
}



#ETC{
    background-image: url("../images/projets/ETC/index.PNG");
}

#ETC h2, #ETC a{
    background-color: #1c9aea;
    color: white;
    border: 3px solid white;
}

#BestStudents{
    background-image: url("../images/projets/BestStudents/index.PNG");
}

#BestStudents h2, #BestStudents a{
    background-color: black;
    color: yellow;
    border: 3px solid yellow;
}

#Iron{
    background-image : url("../images/projets/Iron/menu.png");
}

#Iron h2, #Iron a{
    background-color: #fefdf0;
    color: #55c9f6;
    border: 3px solid #55c9f6;
}

.slick-arrow{
    /*height: 25%;*/
    align-self: center;
    padding: 20px;
    width: 10vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.divCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    height: max-content;
    margin: auto;
    padding-top: 50px;
    grid-gap: 15px;
}

.card{
    border: 2px solid #ffe7d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 15px;
    height: 350px;
    width: 250px;
}

.card img{
    width: 80%;
    padding-bottom: 10px;
}

.card h3{
    text-align: center;
}

.card h1{
    padding-bottom: 25px;
}

.lienInfosProj{
    text-decoration: none;
    background-color: #31655e;
    color: #ffe7d4;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding: 10px;
    bottom: 0;
    position: absolute;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 0.5s;
}

.lienInfosProj:hover{
    box-shadow:
            0px -2px 10px #CCC;
    /*inset 0px -11px 8px -10px #CCC;*/
}


@media screen and (max-width: 900px){
    .contenuProjet h1{
        font-size: 1.75em;
    }

    .carroussel{
        width: 100%;
    }

    .slick-arrow{
        width: max-content;
        padding: 10px;
        font-size: 1.25em;
    }

    .contenuArticle{
        position: relative;
    }

    .contenuArticle h2{
        width: 50vw;
        text-align: center;
        font-size: 1.25em;
        padding: 10px;
        margin-bottom: 10vh;
    }

    .contenuArticle a{
        bottom: 0;
        position: absolute;
        width: 100%;
        opacity: 1;
        text-align: center;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    #Carottos a, #BestStudents a, #ETC a, #Iron a{
        border-bottom: none;
        border-right: none;
        border-left: none;
        background-color: #ffe7d4;
        color: #3e726a;
        border-top: 5px solid #3e726a;
    }

}

@media screen and (max-width: 1160px){
    .contenuProjet{
        padding-top: 2.5vh;
    }
}

@media screen and (max-width: 800px){

    #BestStudents{
        background-image: url("../images/projets/BestStudents/indexPhone.PNG");
    }

    #ETC{
        background-image: url("../images/projets/ETC/indexPhone.PNG");
    }
}